<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </head>

  <body>
    <header>
      <%- include('navbar') %>
    </header>
      <main class=quiz-container>
        <div class="quizbox">
          <div class="withinthebox">
            <div class="leftsidebuttonsquizbox">
              <span class="titleofquiz">Title</span>
              <form method="GET" action="/:id">
              <button class="attemptquizbutton">Attempt Quiz</button>
              </form>
            </div>
            <span class="descriptionofquiz">description</span>
            <div class="rightsidebuttonsquizbox">
              <span class="creator"> Created by: </span>
            </div>
          </div>
        </div>
      </main>
  </body>
</html>
