<nav class ="navbar">
  <div class="leftbuttons">
    <form method="GET" action="/">
      <button type=submit class="logo">POP QUIZ</button>
    </form>
<<<<<<< HEAD
    <form method="GET" action="/createquiz">
=======
    <form method="GET" action="/newquiz">
>>>>>>> 5c21cf55a39fc897150817c86f2793e5732c0497
      <button type="submit" class="create">Create A New Quiz</button>
    </form>
    <form method="GET" action="/myquizzes">
      <button type="submit" class="myquiz">My Quizzes</button>
    </form>
  </div>
  <div class="rightbuttons">
    <span></span>
    <span></span>
    <form method="GET" action="/login">
      <button type="submit" class="login">Login</button>
    </form>
    <form method="GET" action="/register">
      <button type="submit" class="createaccount">Register</button>
    </form>
  </div>
</nav>
