<nav class ="navbar">
  <div class="leftbuttons">
    <form method="GET" action="/">
      <button type=submit class="logo">POP QUIZ</button>
    </form>
    <form method="GET" action="/quizzes/new">
      <button type="submit" class="create">Create A New Quiz</button>
    </form>
    <form method="GET" action="/quizzes">
      <button type="submit" class="myquiz">My Quizzes</button>
    </form>
  </div>
  <% if (username) { %>
  <div class="rightbuttons">
    <div class="hellousername">Hello <%= username %></div>
    <form method="POST" action="/logout" class="logoutbutton">
      <button type="submit" class="login">Logout</button>
  </div>
  <% } else { %>
  <div class="rightbuttons">
    <form method="GET" action="/login">
      <button type="submit" class="login">Login</button>
    </form>
    <form method="GET" action="/register">
      <button type="submit" class="createaccount">Register</button>
    </form>
  </div>
  <% } %>
  </div>
</nav>
