<nav class ="navbar">
  <button type=submit class="logo">POP QUIZ</button>
  <div class="rest">
    <div class="leftbuttons">
      <button type="submit" class="create">Create A New Quiz</button>
      <button type="submit" class="myquiz">My Quizzes</button>
    </div>
    <div class="rightbuttons">
      <span></span>
      <span></span>
      <button type="submit" class="login">Login</button>
      <button type="submit" class="createaccount">Register</button>
    </div>
  </div>
</nav>
