<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>newquiz</title>
​
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
​
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/newquiz.css" type="text/css" />
​
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/newquiz.js"></script>
  </head>
​
  <body>
    <header>
      <%- include('navbar') %>
    </header>
      <main>
        <div class="mainform">
          <form class="maininputform" id="mainform" action="/quizzes" method="POST">
            <span class='titleofthepage'>CREATE A NEW QUIZ!</span>
            <div class="titleinfo">
              <label for="titleofquizinput">Title:</label>
              <input type="text" name="titleofquizinput" class="inputboxfortitle">
            </div>
            <div class="descriptioninfo">
              <label for="descriptionofquiz">Description:</label>
              <textarea type="text" name="descriptionofquiz" class="descriptionofquiz"></textarea>
            </div>
            <button type="button" class="addquestionbutton">Add another question</button>
            <div class="bottombuttons">
              <div class="makeprivatesections">
                <label for="makeprivatebox" class="makequizprivate">Make private</label>
                <input type="checkbox" name="makeprivatebox">
              </div>
            </div>
            <input type="submit" class="bottombuttons" name="createquizbutton" value="Finish quiz">
          </form>
        </div>
      </main>
  </body>
</html>
