.quizbox{
  margin-top:160px;
  margin-left:2em;
  margin-right:2em;
  margin-bottom: 1em;
  border:2px solid rgb(46, 48, 49);
  font-family: "roboto";
  font-size: xx-large;
}

.withinthebox{
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.creator{
  font-size: medium;
  margin-left: 1em;
}

.descriptionofquiz{
  font-size: medium;
}

.titleofquiz{
  margin-right: 1em;
}

.sharebutton{
  display:inline-block;
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-size: large;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(165, 223, 238);
}

.sharebutton:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}

.attemptquizbutton:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}

.attemptquizbutton{
  display:inline-block;
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-size: large;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(165, 223, 238);
  margin-top: .5em;
}

