.quizbox{
  margin-top:160px;
  margin-left:2em;
  margin-right:2em;
  margin-bottom: 1em;
  border:2px solid rgb(46, 48, 49);
  font-family: "roboto";
  font-size: xx-large;
}

.withinthebox{
  padding: 1em;
}
