.mainform{
  margin-top:160px;
  margin-left: 2em;
  margin-right: 2em;
  font-size: x-large;
  font-family: "roboto";
}

.maininputform{
  display: flex;
  flex-direction: column;
}

.titleofthepage{
  font-family: "Hanalei Fill";
  font-size: xxx-large;
  background-color:  rgb(165, 223, 238);
  border: none;
  color: #FFFFFF;
  margin-bottom: 1em;
}

.titleinfo{
  margin-bottom: 1em;
}

.inputboxfortitle{
  width: 20em;
}

.descriptioninfo{
  display: flex;
  margin-bottom: 1em;
}

.possibleanswers{
  display: flex;
  flex-direction: column;
  margin-bottom: 0em;
}

.answers{
  margin-bottom: 1em;
  width: 50%;
}
.answersinfo{
  display: flex;
  flex-direction: column;
}
.question1{
  margin-bottom: 1em;
  width: 75%;
}

.titleforanswers{
  margin-bottom: 1em;
}

.descriptionofquiz{
  margin-left: .5em;
  width: 75%;
}

.createquizbutton{
  margin-bottom: 2em;
  display:inline-block;
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  margin:0 1.5em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(56, 118, 153);
}

.addanswerbutton{
  font-size: large;
  margin-bottom: 2em;
  display:inline-block;
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  margin:0 1.5em 1em 0em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(56, 118, 153);
  width: 30%;
}

.addquestionbutton{
  font-size: large;
  margin-bottom: 2em;
  display:inline-block;
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  margin:0 1.5em 1em 0em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: rgb(56, 118, 153);
  width: 30%;
}

.bottombuttons{
  display: flex;
  flex-direction: row;
}

.makeprivatesections{
  margin-right: 1em;
}
